Source: ndt
Maintainer: Dominic Hamon <dominic@google.com>
Section: utils
Priority: optional
Standards-Version: 3.9.3
Build-Depends: autotools-dev, debhelper (>= 9), libpcap-dev, libweb100-0
Homepage: http://www.internet2.edu/performance/ndt/

Package: ndt-applet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDT applet
	NDT is a network diagnostic tool. This applet runs performance tests
	against NDT servers.

Package: ndt-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDT client
	NDT is a network diagnostic tool. This command-line client runs
	performance tests against NDT servers.

Package: ndt-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NDT server 
	NDT server that enables end users to run performance tests from
	ndt-client or ndt-applet.

