#!/usr/bin/make -f
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
HAVE_LIBWEB100=1

%:
	dh $@

override_dh_clean:
	rm -f I2util/I2util/stamp-h.in
	dh_clean

#override_dh_auto_install:
#	$(MAKE) DESTDIR=$$(pwd)/debian/tmp prefix=/usr install

# TODO: remove before submit
override_dh_shlibdeps:
	    dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
